.admin-container {
  background-color: #fff;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 2px;
}

.admin-dropdown-row {
  display: flex;
  gap: 40px; /* space between each group */
  align-items: center;
  margin-top: 30px;
}

.dropdown-group {
  display: flex;
  align-items: center;
  gap: 10px; /* space between label and dropdown */
}
.admin-features-table{
    margin-top: 30px;
    margin-right:20% ;
}
